/* Resetting styles */
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,abbr,article,aside,command,details,figcaption,figure,footer,header,hgroup,image,mark,meter,nav,output,progress,section,summary,time { margin: 0; padding: 0; border: 0;}
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th,figcaption { font-weight: normal; font-style: normal;  font-family:"Proxima Nova Regular","Segoe UI",Roboto,"Droid Sans","Helvetica Neue",Arial,sans-serif; }
fieldset,iframe { border: none; }
ol,ul {list-style: none;}
caption,th { text-align: left; }
table { border-collapse: collapse; border-spacing: 0; }
article,aside,footer,header,hgroup,nav,section,figure,figcaption { display: block; }



/* Basic elements and classes */
a {text-decoration: none;}
a:hover {text-decoration: underline;}

.border1 {border: solid 1px #ddd;}

br.clear {display: block; height: 0; font-size: 0; clear: both;}

.dropDown {display: none;}

.flagIcon {float:right; margin: 0 0 0 10px; padding: 0;}

.floatLeft {float: left;}
.floatRight {float: right;}

em {color: #023770; font-weight: 600;}
strong {color: #023760; font-weight: 600;}

.imgLeft {float: left; margin: 0 30px 20px 0;}
.imgRight {float: right; margin: 0 0 20px 30px;}
.imgMiddle {	display: block; margin: 0 auto 20px;}

.input {margin: 4px 0px 4px 10px; border: 1px solid #aaa;}

.width50 {width: 50%;}
.width40 {width: 40%;}
.width30 {width: 30%;}
.width25 {width: 25%;}
.width20 {width: 20%;}
.width15 {width: 15%;}



/* Main layout */
html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
	
	color: #222;

	font: 15px "Proxima Nova Regular","Segoe UI",Roboto,"Droid Sans","Helvetica Neue",Arial,sans-serif;
	line-height: 150%;
}
 
#MainFrame {
	position: relative;
	
	width: 100%;
	min-width: 680px;
	margin: auto;
}

/* Top panel */
#TopPanelContainer {
	width: 100%;
	height: 75px;

	background: #d2e9f4; /* Old browsers */
	background: -moz-linear-gradient(top, #feffff 0%, #d2e9f4 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #feffff 0%,#d2e9f4 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #feffff 0%,#d2e9f4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d2e9f4',GradientType=0 ); /* IE6-9 */
	
	line-height: 130%;
}

#TopPanel {
	position: relative;
	top: 0px;

	width: 95%;
	height: 75px;
	margin: auto;
	padding: 0;
}

#Utilities {
	float: right;

	width: 300px;
	height: 40px;
	margin: 10px 0 0 0;
	
	font-size: 11px;
	text-align: right;
}

#Utilities a {
	color: #00355f;
}

#Search {
	display: inline;
	width: 150px;
}

#Search input {
	width: 150px;
	border: 1px solid #aaa;
	
}

#cse-search-form {
	width: 100%;
}

#Search input.gsc-search-button {
	width: 60px;
	border: 1px solid #023760;
	
	background: #023760;
}

#Logo {
	position: absolute;
	top: 10px;

	width: 170px;
	height: 60px;
	
	background: url("../gui/Logo.png")no-repeat;
}

#Logo a {
	display: block;
	width: 180px;
	height: 60px;
}

#Motto {
	position: absolute;
	top: 21px;
	left: 180px;

	width: 300px;
	height: 30px;

	color: #023670;

	font-size: 14px;
	font-style: italic;
	line-height: 100%;
}

/* Top Menu */
#TopMenuContainer {
	width: 100%;
	
	background: #f7f5e7;
	
	line-height: 130%;
}

#TopMenu{
	position: relative;
	
	width: 98%;
	margin: auto;
}

.menu {
	margin: auto;
	padding: 0 0 0 3%;

	text-align: center;
}
 
.menu ul {
	position: absolute;
	top: 34px;
	left: 0px;
	
	display: none; 

	list-style: none;
}

.menu li {
	position: relative;
	float: left;
	
	display: block;
	width: 16%;
	min-width: 160px;
}

.menu li li {
	width: 100%;
}
 
.menu a, .menu span {
	float: left;
	
	display: block;
	width: 100%;

	padding: 7px 0 8px 0;

	color: #220e10;

	text-decoration: none;
	font-size: 14px;
}
 
.menu ul li a {
	float: none;
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	
	display: block;
	width: 95%;
	padding: 6px 0 6px 5%;

	background: #220e10;
	color: #fff;

	text-decoration: none;
	text-align: left;
	font-size: 12px;
}
 
li.menuhover a, li.menuhover span  {
	background: #220e10;
	color: #fff;
}

.menu ul li a:hover {
	background: #db572f;
	color: #fff;
}

.menu li a:hover {
	background: #220e10;
	color: #fff;
}

/* Main area container */
#MainAreaContainer {
	width: 100%;

	background: #fff;
}

/* Bottom menu */
#BottomMenuContainer {
	width: 100%;

	background: #f7f5e7;

	line-height: 130%;
}

#BottomMenu {
	position: relative;
	
	width: 95%;
	max-width: 1380px;
	margin: auto;
	padding: 15px 15px 0 15px;

}

.BottomMenuPart {
	width: 46%;
	margin: 0 0 30px 0;
	padding: 0 0 0 4%;
}

.BottomMenuSection {
	width: 43%;
	padding: 0 0 0 7%;

	color: #220e10;
}

.BottomMenuSection ul {
	line-height: 180%;
	list-style: none;
}

.BottomMenuSection a {
	color:#220e10;

	font-weight: 500;
	text-decoration: none;
	font-size: 14px;
}

.BottomMenuSection a:hover {
	text-decoration: underline;
}

.MenuHeading {
	margin-bottom:0.5em;

	color:#db572f;

	font-size:15px;
	font-weight:900; 
	line-height:150%; 
	text-decoration:none; 
}

/* Bottom panel */
#BottomPanelContainer {
	width: 100%;
	
	background:#d2e9f4;

	line-height: 100%;
}

#BottomPanel {
	position:relative;
	
	width: 95%;
	max-width: 1380px;
	margin: auto;
	padding: 20px 0 10px 1%;
	
	font-size: 13px;
	line-height: 180%;
}

#BottomPanel span {
	color:#00355f;

	text-decoration:none;
}

#BottomPanel a {
	color:#00355f;

	text-decoration:none;
}

#BottomPanel a:hover{
	text-decoration:underline;
}

#WebLinks {
	float: left;
	width: 50%;
}

#Acknowledgements {
	float: right;
	width: 40%;
}

/*Fluid layout*/
@media (max-width:860px) {

	.width50 {width: 70%;}
	.width40 {width: 60%;}
	.width30 {width: 50%;}
	.width25 {width: 45%;}
	.width20 {width: 40%;}
	.width15 {width: 35%;}

	body, html {
		 overflow-x:scroll;
	}
	
	#Motto {
		width:180px;

		font-size: 12px;
	}
	
	.BottomMenuPart {
		width: 92%;
		padding: 0 0 0 8%;
	}
}

@media (min-width:861px){

	body, html {
		 overflow-x:hidden;
	}
}

@media (min-width:1200px) {

	body, html {
		 overflow-x:hidden;
	}
}
