/* Resetting styles */
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,abbr,article,aside,command,details,figcaption,figure,footer,header,hgroup,image,mark,meter,nav,output,progress,section,summary,time { margin: 0; padding: 0; border: 0;}
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th,figcaption { font-size: 12px; font-weight: normal; font-style: normal;  font-family:"Trebuchet MS", Helvetica, sans-serif; }
fieldset,iframe { border: none; }
ol,ul {list-style: none;}
caption,th { text-align: left; }
table { border-collapse: collapse; border-spacing: 0; }
article,aside,footer,header,hgroup,nav,section,figure,figcaption { display: block; }

/* Main layout */
body {

color:#000000;

font-family:"Trebuchet MS", Helvetica, sans-serif;
font-size:13px;
line-height:120%;
}
 
#MainFrame {
position:relative;

}


/* Panels and menus */

/* Top panel beginning */
#TopPanelContainer {
width: 100%;
height: 75px;

background: #edf2fc; /* Old browsers */
background: -moz-linear-gradient(top, #edf2fc 0%, #bfdaff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #edf2fc 0%,#bfdaff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #edf2fc 0%,#bfdaff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf2fc', endColorstr='#bfdaff',GradientType=0 ); /* IE6-9 */
}

#TopPanel {
position:relative;
top:0px;

margin:auto;
padding: 0 30px 0 30px;
height:75px;
width:95%;

}

#Utilities {
float: right;

margin: 10px 0 0 0;
height:40px;
width:34%;

font-size:11px;
text-align:right;
}

#Utilities a {
color:#023760;

text-decoration:none;
}

#Utilities a:hover{
color:#023760;

text-decoration:underline;
}

#Search {
display: inline;

width: 150px;
}

#Search input {
border-color:#aaaaaa;
width: 150px;
}

#Search input.gsc-search-button {
background-color:#00355f;
border-color:#003056;
width: 60px;
}

#Logo {
position:absolute;
top:10px;

height:60px;
width:170px;

background-image:url("../gui/Logo.png"); 
background-repeat:no-repeat;
}

#Logo a {
display:block;
height:60px;
width:180px;

text-decoration:none;
}

#Motto {
position:absolute;
left:200px;
top:23px;

height:30px;
width:26%;
padding-top:0px;

color:#023670;

font-size:13px;
font-weight:100;
font-style:italic;
line-height:100%;
text-align:left;
}
/* Top panel end */

/* Top Menu */

/* Rest is defined in Menu style file */
#TopMenuContainer {
width: 100%;

border-top:1px solid #eda656;
border-bottom:1px solid #eda656; 
background-color:#edc172;
background-image: url("../gui/TopMenu.png");
}

#TopMenu{
position: relative;
margin: auto;

height:30px;
width:1024px;
}

/* Main area container */
#MainAreaContainer {
width: 100%;

background: #f3f8fa;
}

/* Bottom menu beginning */
#BottomMenuContainer {
width: 100%;

background: #f3f8fa;

border-top:1px solid #eda656;
border-bottom:1px solid #eda656;

background-color:#edc172;
background-image: url("../gui/BottomMenu.png");
}

#BottomMenu {
position:relative;
margin: auto;

height:200px;
width:1024px;
padding-top:15px; 

}

.BottomMenuSection {
position:absolute;

height:190px;
width:180px;
padding-left:10px;
padding-right:10px;

color:#00355f;
}

.BottomMenuSection ul {
line-height:200%;
list-style:none;
}

.BottomMenuSection a {
color:#00355f;

font-weight:500;
text-decoration:none;
}

.BottomMenuSection a:hover {
color:#00355f;

font-weight:900;
}

.MenuHeading {
margin-bottom:0.5em;

color:#00355f; 

font-size:14px;
font-weight:900; 
line-height:150%; 
text-decoration:none; 
}
/* Bottom menu end */

/* Bottom panel beginnig */
#BottomPanelContainer {
width: 100%;

background:#aec9ee;
}

#BottomPanel {
position:relative;
margin: auto;

height:15px;
width:1024px;
padding-top:15px;
padding-bottom:15px;
}

#BottomPanel p {
text-align:center;
}

#BottomPanel span {
color:#023760;

font-weight:900;
text-decoration:none;
}

#BottomPanel a {
color:#023760;

font-weight:900;
text-decoration:none;
}

#BottomPanel a:hover{
text-decoration:underline;
}
/* Bottom panel end */

/*
@media (max-width:921px) {

	#TopPanel {
		width:1024px;
	}

}

@media (min-width:992px){
	#TopPanel {
		width:1024px;
	}

}

@media (min-width:1200px) {
	#TopPanel {
		width:1024px;
	}
}
*/