/*Headings, paragraph*/
h1 {font-size:17px; font-weight:900; line-height:120%; color:#023760; text-decoration:none; margin-bottom:0.3em;}
h2 {font-size:16px; font-weight:900; line-height:120%; color:#023760; text-decoration:none; margin-top:0.9em; margin-bottom:0.6em; font-style:italic;}
h3 {font-size:14px; font-weight:900; line-height:150%; color:#023760; text-decoration:none;
margin-top:1.5em; margin-bottom:0.1em; font-style:italic;}
h4 {font-size:14px; font-weight:900; line-height:150%; color:#023760; text-decoration:none; margin-bottom:0.5em;}
h5 {font-size:12px; font-weight:900; line-height:150%; color:#023760; text-decoration:none;
margin-top:1.5em; margin-bottom:0.1em}
h6 {font-size:10px; font-weight:500; line-height:120%; color:#666666; text-decoration:none; margin-top:0.1em; margin-bottom:0.1em;}

p {text-align:left; line-height:120%; font-size:12px; margin-bottom:0.8em; }


#MainArea {
 background-color:#FFFFFF;
 width:1024px;
}

#MainArea a {
 color:#3386AE;
 text-decoration:none;
}

#MainArea a:hover {
 color:#3386AE;
 text-decoration:underline;
}

#Content p {
 line-height:130%;
 text-align:justify;
}

#Content h2 {
 margin-top:1.5em;
}

#Content em {
 color:#023760;
 font-weight:900;
}

#WhatFrame {
 position:absolute;
 top:125px;
 left:40px;
 height:300px;
 width:230px;
}

#WhoFrame {
 position:absolute;
 top:125px;
 left:280px;
 height:300px;
 width:230px;
}

#AboutFrame {
 position:absolute;
 top:125px;
 left:520px;
 height:300px;
 width:230px;
}

#ProgramsFrame {
 position:absolute;
 top:125px;
 left:760px; 
 height:290px;
 width:230px;
}

#TextFrame {
 position:absolute;
 top:150px;
 left:0px;
 height:160px;
 width:190px;
 padding-left:15px;
 padding-right:25px;
 padding-bottom:5px;
}

#BigFrame {
 position:absolute;
 top:425px;
 left:40px;
 height:410px;
 width:950px;
 background-image: url("../gui/BigFrame.png");
 background-repeat:no-repeat;
}

#TwitterFrame {
 position:absolute;
 height:340px;
 width:210px;
 padding-left:15px;
 padding-right:20px;
}

#IndustryFrame {
 position: absolute;
 height:340px;
 width:210px;
 left:240px;
 padding-left:15px;
 padding-right:20px;
}

#NewsFrame {
 position: absolute;
 height:340px;
 width:210px;
 left:480px;
 padding-left:15px;
 padding-right:20px;
} 

#ReleasesFrame {
 position:absolute;
 left:720px;
 height:340px;
 width:210px;
 padding-left:15px;
 padding-right:20px;
}

#LinksFrame {
 position:absolute;
 top:0px;
 left:0px;
 height:290px;
 width:190px;
 padding-left:15px;
 padding-right:25px;
 padding-bottom:10px;
}


