/* Basic elements and classes */
h1, h2, h3, h4, h5 {font-weight:600; line-height:120%; color:#023760; text-decoration:none;}

h1 {font-size:24px; margin: 0 0 1em 0;}
h2 {font-size:20px; margin: 1em 0 0.2em 0;}
h3 {font-size:16px; margin: 1em 0 0.2em 0; font-style:italic;}
h4 {font-size:15px; margin: 1em 0 0.2em 0;}
h5 {font-size:13px; margin: 1em 0 0.2em 0;}
h6 {font-size:11px; font-weight:500; margin: 0.1em 0 1.4em 0; line-height:120%; color:#666; text-decoration:none;}

p {text-align:left; margin-bottom:0.8em;}


.HomeSubtitle1 {
	display: block; 
	padding: 15px 15px 15px 15px; 
	
	color: #023760;
	
	font-size: 17px; 
	font-weight: 600; 
	line-height: 100%; 
}

.HomeSubtitle2 {
	display: block; 
	padding: 15px 0 10px 2%; 
	
	color: #023760;
	
	font-size: 17px; 
	font-weight: 600; 
	line-height: 100%; 
}

.HomeSubtitle3 {
	display: block; 
	padding: 15px 0 10px 4%; 
	
	color: #023760;
	
	font-size: 17px; 
	font-weight: 600; 
	line-height: 100%; 
}



/*Main content area*/
#MainArea {
	width: 90%;
	max-width: 1350px;
	margin: auto;
	padding: 25px 0;

	background: #fff;
}

#MainArea a {
	color: #3386ae;

	text-decoration:none;
}

#MainArea a:hover {
	color: #3386ae;

	text-decoration: underline;
}

#MainArea ul {
	padding-left: 20px;
	margin: 0 0 0.8em 0;

	list-style: disc;
	list-style-position: outside;
}

#MainArea ul ul{
	padding-left: 20px;
	margin: 0 0 0.8em 0;

	list-style: circle;
	list-style-position: outside;
}

/* Top 3 Frames */
#TopLeftFrame {
	float: left;
	
	width: 23%;
	max-width: 310px;
	margin: 0 2% 5px 1%;
	padding: 0;
	
	line-height: 130%;
}

#TopLeftFrame a {
	float: left;
	
	display: block;

	padding: 9px 0;
	font-size: 14px;
	line-height: 100%;
	text-align: center;
}

.col1 {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 1px solid #f6eed7;
	border-radius: 5px;
	
	background: #f7f5e7;
	background-image: -webkit-linear-gradient(top, #f7f5e7, #f6eed7);
	background-image: -moz-linear-gradient(top, #f7f5e7, #f6eed7);
	background-image: -ms-linear-gradient(top, #f7f5e7, #f6eed7);
	background-image: -o-linear-gradient(top, #f7f5e7, #f6eed7);
	background-image: linear-gradient(to bottom, #f7f5e7, #f6eed7);
}

.col2 {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 1px solid #e7f4f8;
	border-radius: 5px;
	
	background: #f3f8fa;
	background-image: -webkit-linear-gradient(top, #f3f8fa, #e7f4f8);
	background-image: -moz-linear-gradient(top, #f3f8fa, #e7f4f8);
	background-image: -ms-linear-gradient(top, #f3f8fa, #e7f4f8);
	background-image: -o-linear-gradient(top, #f3f8fa, #e7f4f8);
	background-image: linear-gradient(to bottom, #f3f8fa, #e7f4f8);
}

.col3 {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 1px solid #def0f5; 
	border-radius: 5px;
	
	background: #e7f4f8;
	background-image: -webkit-linear-gradient(top, #e7f4f8, #def0f5);
	background-image: -moz-linear-gradient(top, #e7f4f8, #def0f5);
	background-image: -ms-linear-gradient(top, #e7f4f8, #def0f5);
	background-image: -o-linear-gradient(top, #e7f4f8, #def0f5);
	background-image: linear-gradient(to bottom, #e7f4f8, #def0f5);
}

.col4 {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 1px solid #d6ebf1;
	border-radius: 5px;
	
	background: #def0f5;
	background-image: -webkit-linear-gradient(top, #def0f5, #d6ebf1);
	background-image: -moz-linear-gradient(top, #def0f5, #d6ebf1);
	background-image: -ms-linear-gradient(top, #def0f5, #d6ebf1);
	background-image: -o-linear-gradient(top, #def0f5, #d6ebf1);
	background-image: linear-gradient(to bottom, #def0f5, #d6ebf1);
}

#TopLeftFrame a.col1 {
	color: #220e10;
}

#TopLeftFrame a.col2, #TopLeftFrame a.col3, #TopLeftFrame a.col4{
	color: #023760;
}

#TopLeftFrame a.col1:hover {
	border: 1px solid #220e10;
	
	background: #220e10;
	color: #fff;
	
	text-decoration: none;
}

#TopLeftFrame a.col2:hover, #TopLeftFrame a.col3:hover, #TopLeftFrame a.col4:hover  {
	border: 1px solid #023760;
	
	background: #023760;
	color: #fff;
	
	text-decoration: none;
}

.button1 {
	width: 100%;
	margin: 0 0 5px 0;
	padding: 6px 0 0 0;
}

.button2 {
	width: 80%;
	margin: 0 0 5px 0;
	padding: 6px 0 0 0;
}

.button3 {
	width: 60%;
	margin: 0 0 5px 0;
	padding: 6px 0 0 0;
}

.button4 {
	width: 18%;
	margin: 0 0 5px 2%;
	padding: 6px 0 0 0;
}
/*-----------------------------*/
#TopMiddleFrame {
	float: left;

	height: 229px;
	width: 48%;
	max-width: 670px;
	margin: 0 2% 5px 0;
	padding: 0 0 0 0;

	background: #f3f8fa;
	
	line-height: 130%;
	font-size: 14px;
}

#myCarousel img {
	float: left;

	height: 217px;
	margin: 0 20px 0 0;
	padding: 0 0 0 0;
}

.imageContainer {
	width: 400px;
	height: 300px;
	padding: 15px 25px;

	background: #eee;
}

#myCarousel a, #myCarousel p, #myCarousel span {
	text-shadow: none;
	text-align: left;
}

#myCarousel p {
	display: block;
	padding: 0 15px 0 15px;	
	
	color: #555;
}

#Item0 {
	height: 229 px;
	width: 675px;
	background-image: url(/files/home/cds_apps_2018.png);

}

#Item1 {
	height:229px;
	
	background-image: url(/files/home/norway_platform_12_sep_2018.png);
}

#Item2 {
	height:229px;
	
	background-image: url(/files/home/membership.jpg);
}

#CarouselText {
	width: 47%;
	min-width: 185px;
	height:229px;
	margin: 0 3% 0 50%;
	
	background: rgba(240, 245, 250, 0.95);
}

.imageContainer {
	float: left;
}

.carousel-indicators {
	left: 73%;
}

.carousel-indicators li {
	width: 9px;
	height: 9px;
	margin: 2px;
	border: 1px solid #777;
}

.carousel-indicators .active {
	width: 9px;
	height: 9px;
	margin: 2px;
	border: 1px solid #777;
	
	background: #777;
}
/*-----------------------------*/
#TopRightFrame {
	position: static;
	float: right;

	width: 23%;
	max-width: 310px;
	margin: 0 1% 5px 0;
	padding: 0 0 0 0;
	
	line-height: 130%;
	font-size: 14px;
}

#TopRightFrame a {
	color: #023760;
}

#TopRightFrame a:hover {
	color: #023760;
}

#MembershipContainer {
	display: block; 
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 100%;

	margin: 0; 
	padding: 0;
	border: 1px solid #e7f4f8;
	border-radius: 5px;
}

#MembershipContainer img {
	display: block;
	margin: auto;
	height: 77px;
}

#MembershipText {
	margin: 0 0 0 0;
	padding: 6px 0 7px 0;
	border-top: 1px solid #e7f4f8;
	
	background: #f3f8fa;

	text-align: center;
}

#PartnersContainer{
	display: block; 
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 100%;
	
	margin: 5px 0 0 0; 
	padding: 0;	
	border: 1px solid #f6eed7;
	border-radius: 5px;
}

#PartnersText {
	margin: 0;
	padding: 6px 0 7px 0;
	border-top: 1px solid #f6eed7;
	
	background: #f7f5e7;
	color: #220e10;
	
	text-align: center;
}

#PartnersText a, #PartnersText a:hover{
	color:#220e10;
}

#LogoImage p{
	display: none; 
	margin: 0;
	padding: 0;
	
	color: #fff; 
}

#LogoImage img {
	display: block;
	margin: 0 auto;
	height: 79px;
	padding: 0;
}

#LogoImage p:first-child img{
	display: block;
}

/*Bottom 3 Frames*/
#BottomLeftFrame {
	float: left;
	
	width: 23%;
	max-width: 310px;
	height: 500px;
	margin: 0 2% 10px 1%;
	
	background: #f3f8fa;
	
	line-height: 130%;
}
/*-----------------------------*/
#BottomMiddleFrame {
	float:left;
	
	width:48%;
	max-width: 670px;
	margin: 0 2% 0 0;
	padding: 0 0 10px 0;

	background:#f3f8fa;
	
	line-height: 130%;
	font-size: 14px;
} 

#BottomMiddleFrame img {
	float: left;

	height: 25px;
	margin: 5px 10px 0 0;
}

/*-----------------------------*/
#BottomRightFrame {
	float: right;
	
	width: 23%;
	max-width: 310px;
	margin: 0 1% 10px 0;
	padding: 0 0 10px 0;
	
	background: #f3f8fa;
	
	line-height: 130%;
	font-size: 14px;
}

#EventsContainer {
	padding: 0 4% 0 4%;
} 

/*Fluid layout*/
@media (max-width:860px) {

	#TopLeftFrame {
		width:42.5%;
		margin: 0 1.5% 10px 6%;
	}
	
	#TopRightFrame {
		width:42.5%;
		margin: 0 6% 10px 1.5%;
	}
	
	#TopMiddleFrame {
		width: 88%;
		margin: 0 6% 10px 6%;
	}
	
	#BottomLeftFrame {
		width:42.5%;
		margin: 0 1.5% 10px 6%;
	}
	
	#BottomRightFrame {
		width:42.5%;
		margin: 0 6% 10px 1.5%;
	}
	
	#BottomMiddleFrame {
		width: 88%;
		margin: 0 6% 10px 6%;
	}
	
	#NewsContainer {
		float: left;
		
		width: 46%;
		padding: 0 2% 0 2%;
	}
}

@media (min-width:861px){

	#NewsContainer {
		width: 96%;
		padding: 0 2% 0 2%;
	}
}

@media (min-width:1300px) {

	#NewsContainer {
		float: left;
		
		width: 46%;
		padding: 0 2% 0 2%;
	}
}
