/*Headings, paragraph*/
h1 {font-size:17px; font-weight:900; line-height:120%; color:#023760; text-decoration:none; margin-bottom:0.3em;}
h2 {font-size:16px; font-weight:900; line-height:120%; color:#023760; text-decoration:none; margin-top:0.9em; margin-bottom:0.6em; font-style:italic;}
h3 {font-size:14px; font-weight:900; line-height:150%; color:#023760; text-decoration:none;
margin-top:1.5em; margin-bottom:0.1em; font-style:italic;}
h4 {font-size:14px; font-weight:900; line-height:150%; color:#023760; text-decoration:none; margin-bottom:0.5em;}
h5 {font-size:12px; font-weight:900; line-height:150%; color:#023760; text-decoration:none;
margin-top:1.5em; margin-bottom:0.1em}
h6 {font-size:10px; font-weight:500; line-height:120%; color:#666666; text-decoration:none; margin-top:0.1em; margin-bottom:0.1em;}

p {text-align:left; line-height:120%; font-size:12px; margin-bottom:0.8em; }
img{padding-left:10px; display:block}

.HomeTitle {font-size:16px; font-weight:900; line-height:120%; color:#023760; text-decoration:none; margin-bottom:0.3em;}

#MainArea {
width:984px;
padding:20px 0px 20px 40px;
background-color:#ffffff;
}

br.clear {
display:block; 
clear:both; 
font-size: 0;   /* last 2 for old ie */
height: 0;
}

#MainArea a {
color:#3386ae;

text-decoration:none;
}

#MainArea a:hover {
color:#3386ae;

text-decoration:underline;
}

#Content p {
line-height:130%;
text-align:justify;
}

#Content h2 {
margin-top:1.5em;
}

#Content em {
color:#023760;

font-weight:900;
}

.input {
border:1px solid #aaaaaa;
margin: 2px 0px 2px 10px;
}

/* Four frames with images on the home page */
#SmallFrame {
float:left;

min-height:300px;
width:220px;
margin: 0px 18px 20px 0px;

border:1px #cccccc solid;
border-radius:15px;
box-shadow: 2px 2px 2px #aaaaaa;

background: #c9e3fc; /* Old browsers */
background: -moz-linear-gradient(top, #c9e3fc 0%, #f9fcff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9e3fc), color-stop(100%,#f9fcff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #c9e3fc 0%,#f9fcff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #c9e3fc 0%,#f9fcff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #c9e3fc 0%,#f9fcff 100%); /* IE10+ */
background: linear-gradient(to bottom, #c9e3fc 0%,#f9fcff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9e3fc', endColorstr='#f9fcff',GradientType=0 ); /* IE6-9 */
}

.TextFrame {
width:190px;
padding-bottom:5px;
padding-left:15px;
margin-top:0px;
}

/* End of four frames */

/* Big news frame */
#BigFrame {
float:left;

width:940px;

border:1px #cccccc solid;
border-radius:15px;
box-shadow: 2px 2px 2px #aaaaaa;
}

#TwitterFrame {
float:left;

height:420px;
width:200px;
padding:10px 0 20px 15px;
}

#NewsFrame {
float:left;

width:190px;
padding:0 10px 10px 40px;
} 

/* End of big news frame */

#PartnersLogo{
background: white; 
border: none; 
display: block; 
margin: 30px 0 30px 25px; 
width:70%;
height:98px;
padding:0 0 0 5px;

border:1px #eda656 solid;
border-radius:10px;
box-shadow:
  0 0 0 7px hsl(45, 80%, 80%),
  0 0 0 9px hsl(210, 60%, 30%);
/*box-shadow: 1px 1px 0px #444444;*/
}

#PartnersLogo p{
color: #333; 
display: none; 
font-weight: bold; 
padding: 0;
margin: 0;
}

#PartnersLogo p:first-child img{
display: block;
}