.menu {
width:960px;
margin:0 auto;

text-align:center;
font-weight:900;
}
 
.menu ul {
position:absolute;
top:30px;
left:0px;
display:none; 

list-style:none;
}

.menu li {
position:relative;
float:left;
}
 
.menu a, .menu span {
float:left;
width:160px;
height:23px;
padding-top:7px;

color:#00355f;

text-decoration:none;
font-size:14px;
}
 
.menu ul li a {
float:none;
display:block;
width:192px;
height:22px;
padding: 8px 0 0 0;

color:#00355f;
background: none;
border-top: 1px solid #eda858;
background-color:rgba(249,200,115,0.95);

text-decoration:none;
text-align:left;
font-size:12px;
}
 
li.menuhover a, li.menuhover span, .menu ul li a:hover  {
background:#00355f;
color:#ffffff;
}