/*Headings, paragraph*/
h1 {font-size:18px; font-weight:900; line-height:120%; color:#023760; text-decoration:none;  margin-bottom:1em;}
h2 {font-size:16px; font-weight:900; line-height:120%; color:#023760; text-decoration:none; margin-top:1.5em; margin-bottom:0.2em; font-style:italic;}
h3 {font-size:14px; font-weight:900; line-height:120%; color:#023760; text-decoration:none; margin-top:1.5em; margin-bottom:0.2em;}
h4 {font-size:12px; font-weight:900; line-height:120%; color:#023760; text-decoration:none; margin-top:1.5em; margin-bottom:0.3em; font-style:italic;}
h5 {font-size:12px; font-weight:900; line-height:150%; color:#023760; text-decoration:none;
margin-top:1.5em; margin-bottom:0.1em}
h6 {font-size:10px; font-weight:500; line-height:120%; color:#666666; text-decoration:none; margin-top:0.1em; margin-bottom:0.1em;}

p {text-align:left; line-height:120%; margin-bottom:0.8em; }
.content1 {text-align:left; line-height:120%; font-size:12px; margin-bottom:0.2em; margin-top:0.6em; }
.content2 {text-align:left; line-height:120%; font-size:12px; margin-bottom:0.2em; margin-left:2em }
.center {text-align:center; line-height:120%; font-size:12px; margin-bottom:0.8em }

img {
	margin-top:15px;
	margin-bottom:15px;
}
.middle {
	vertical-align: middle;
}

#MainArea {
margin: auto;

width:1024px;
 
background-color:#ffffff;
}

#MainArea a {
color:#3386ae;
 
font-weight:900;
text-decoration:none;
} 

#MainArea a:hover {
color:#3386ae;

font-weight:900;
text-decoration:underline;
}

#SideMenu {
position:absolute;
top:107px;

width:170px;
height:400px;
padding-left:10px;
padding-right:10px;
padding-top:15px;

background-image:url(../gui/SideMenu.png);
background-repeat:repeat-x;
color:#023760;

font-size:11px;
font-weight:normal;
}

#SideMenu a {
display:inline-block;

width:170px;

color:#023760;

font-weight:500;
text-decoration:none;
}

#SideMenu a:hover{
display:block;

background-color:#b4d5e5;
color:#023760;

font-weight:500;
text-decoration:none;
} 

#SideMenu .active {
width:170px;

color:#cc9900;

font-weight:900;
}

#SideMenu .active:hover{
background-color:transparent;
color:#cc9900;

font-weight:900;
text-decoration:none;
}

#SideMenu .active a {
color:#cc9900;

font-weight:900;
}

#SideMenu .active a:hover{
background-color:transparent;
color:#CC9900;

font-weight:900;
text-decoration:none;
}

#SideMenu ul {
line-height:200%;
}

#SideMenu ul li {
border-top:1px solid #9fd0e7;
}

#SideMenu span {
display:inline-block;

width:145px;
padding-right:10px;
padding-left:6px;
padding-bottom:6px;

color:#023760;

font-size:14px;
font-weight:900;
line-height:200%; 
text-decoration:none; 
}

/* Content style */
#Content {
position:relative;
left:200px;
top:0px;

overflow:auto;
width:770px;
padding-top:35px;
padding-left:20px;
padding-right:20px;
padding-bottom:120px;

background-color:#FFFFFF;

line-height:130%;
text-align:justify;
}

#Content ul {
padding-left:20px;
margin-top:0em;
margin-bottom:0.8em;

list-style:disc;
list-style-position:outside;
}

#Content ul li {
margin-bottom:0.2em;
}

#Content ul ul{
padding-left:20px;
margin-top:0.2em;
margin-bottom:0px;

list-style:disc;
list-style-position:outside;
}

#Content ol {
padding-left:20px;

list-style-type: decimal;
list-style-position:outside;
}

#Content p {
line-height:130%;
text-align:justify;
}

#Content em {
color:#023760;

font-weight:900;
}

#Content strong {
color:#023760;

font-weight:900;
}



.input {
border:1px solid #aaaaaa;
margin: 2px 0px 2px 10px;
}

.news_article {
padding-bottom:30px;
}

#Content .InvisibleList ul{
padding-left:0px;
margin-top:0em;
margin-bottom:0.8em;

list-style:none;
}

#Content .InvisibleList ul li {
margin-bottom:0.2em;
}

#Content .InvisibleList ul ul {
padding-left:20px;
}

/* Tables style */
.TableBasic {
border:1px solid #cccccc;

margin-top:15px;
margin-bottom:35px;
}

.TableBasic th {
padding: 3px 5px 3px 5px;
border:1px solid #cccccc;

background-color:#bedfef;
color:#023760;

font-weight:900;
font-size:11px;
}

.TableBasic td {
padding: 3px 5px 3px 5px;
border:1px solid #cccccc;

font-size:11px;
text-align:left;
}

.TableBasic em {
font-size:11px;
}

.TableInvisible {
border:1px solid #ffffff;
}

.TableInvisible th {
padding: 3px 5px 3px 5px;
border:1px solid #ffffff;

background-color:#ebf0f0;
color:#023760;

font-size:12px;
font-weight:900;
}

.TableInvisible td {
padding: 3px 5px 3px 5px;
border:1px solid #ffffff;

font-size:12px;
text-align:justify;
}


.TableMain {
border:1px solid #cccccc;

margin-top:15px;
margin-bottom:35px;
}

.TableMainT {
padding: 3px 5px 3px 5px;
border:1px solid #cccccc;

background-color:#bedfef;
color:#023760;

font-weight:900;
font-size:11px;
}

.TableMainC {
padding: 3px 5px 3px 5px;
border:1px solid #cccccc;

font-size:11px;
text-align:left;
}

.TableMain em {
font-size:11px;
}

.IndustryLogoImg {
	width:150px;
	padding:0px 20px 0px 0px;
	float:left;
	display:block;
	margin:0;
}
